{% extends "network/layout.html" %}

{% block body %}
<div class="create-container">
        {% if request.user.is_authenticated %}
        <p class="new-post-header">New Post</p>
        <form class="create-form" action="{% url 'newpost' %}" method="POST">
            {% csrf_token %}
            <textarea name="body"></textarea>
            <input type="submit" value="Post" class="create-post-btn btn btn-primary"/>
        </form>
        {% else %}
    <p>Please log in to create a post.</p>
   {% endif %}
    </div>
    
   <div class="all-posts-container">
    <div class="post-list" >
        <h3>All Posts</h3>
        {% for post in posts %}
        <div class="post">
            <a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a>
            <p> {{post.body}} </p>
            <p> {{post.timestamp}} </p>
            <p>Likes: {{ post.likes.count }}</p>
        </div>
        {% endfor %}
    </div>
   </div>
{% endblock %}
